.new__cars-choose {
  margin-top: 140px;
  padding: 100px 0 150px;
  background: linear-gradient(to top, rgb(241, 240, 245), rgb(241, 240, 245) 50%, rgb(215, 219, 250)100%);

}

.tabs__btn {
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding-bottom: 100px;
}

.tabs__btn-item {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.tabs__content-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px 40px;
}

.card {
  text-align: center;
}

.card__img {
  display: block;
  width: 100%;
  height: auto;
}

.card__content {
  padding: 0 5px;
  border: 1px solid #007aff;
  border-top: 0;
}

.card__title {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card__text {
  margin-bottom: 20px;
}

.card__price {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.card__link {
  display: block;
  color: #007aff;
  border: 1px solid #007aff;
  border-top: 0;
}